.asciiz "MMMSXXMASM"
.asciiz "MSAMXMSMSA"
.asciiz "AMXSXMAAMM"
.asciiz "MSAMASMSMX"
.asciiz "XMASAMXAMM"
.asciiz "XXAMMXXAMA"
.asciiz "SMSMSASXSS"
.asciiz "SAXAMASAAA"
.asciiz "MAMMMXMMMM"
.asciiz "MXMXAXMASX"